---
- name: Create addresses in broker.xml
  when: not activemq_modular_configuration
  become: true
  block:
    - name: Create addresses string
      ansible.builtin.set_fact:
        addresses: "{{ addresses | default([]) + [ lookup('template', 'addresses.broker.xml.j2') ] }}"
      loop: "{{ activemq_addresses }}"
      loop_control:
        loop_var: address
        label: "{{ address.name }}"

    - name: Create addresses configuration in broker.xml
      middleware_automation.common.xml:
        path: "{{ activemq.instance_home }}/etc/broker.xml"
        xpath: /conf:configuration/core:core/core:addresses
        input_type: xml
        set_children: "{{ addresses }}"
        namespaces:
          conf: urn:activemq
          core: urn:activemq:core
        pretty_print: true
      become: true
      notify:
        - restart amq_broker with no config refresh

- name: Create modular addresses configuration
  when: activemq_modular_configuration
  become: true
  block:
    - name: Remove addresses element from broker.xml
      middleware_automation.common.xml:
        path: "{{ activemq.instance_home }}/etc/broker.xml"
        xpath: /conf:configuration/core:core/core:addresses
        state: absent
        namespaces:
          conf: urn:activemq
          core: urn:activemq:core
      notify:
        - restart amq_broker with no config refresh

    - name: Create addresses file
      ansible.builtin.template:
        src: modular/addresses.xml.j2
        dest: "{{ activemq.instance_home }}/etc/addresses.xml"
        owner: "{{ activemq_service_user }}"
        group: "{{ activemq_service_group }}"
        mode: '0644'
      notify:
        - touch broker.xml
        - restart amq_broker with no config refresh

    - name: Look up addresses module in broker.xml
      ansible.builtin.find:
        paths: "{{ activemq.instance_home }}/etc/"
        patterns: broker.xml
        contains: '<xi:include.*/etc/addresses.xml'
        file_type: file
        use_regex: false
        read_whole_file: true
      changed_when: false
      check_mode: true
      register: module_presence

    - name: Include addresses module in broker.xml
      middleware_automation.common.xml:
        path: "{{ activemq.instance_home }}/etc/broker.xml"
        xpath: /conf:configuration/core:core/xi:include[@href='{{ activemq.instance_home }}/etc/addresses.xml']
        state: present
        input_type: xml
        namespaces:
          conf: urn:activemq
          core: urn:activemq:core
          xi: http://www.w3.org/2001/XInclude
        pretty_print: true
      when: module_presence.matched == 0
      notify:
        - restart amq_broker
