---
- name: Create federations configuration string
  ansible.builtin.set_fact:
    federations: "{{ federations | default([]) + [ lookup('template', 'federations.broker.xml.j2') ] }}"
  loop: "{{ activemq_federations }}"
  loop_control:
    loop_var: federation
    label: "{{ federation.name }}"

- name: Ensure federations element exists in broker.xml
  middleware_automation.common.xml:
    path: "{{ activemq.instance_home }}/etc/broker.xml"
    xpath: /conf:configuration/core:core/core:federations
    input_type: xml
    state: present
    namespaces:
      conf: urn:activemq
      core: urn:activemq:core
    pretty_print: true
  become: true

- name: Create federations configuration in broker.xml
  middleware_automation.common.xml:
    path: "{{ activemq.instance_home }}/etc/broker.xml"
    xpath: /conf:configuration/core:core/core:federations
    input_type: xml
    set_children: "{{ federations }}"
    namespaces:
      conf: urn:activemq
      core: urn:activemq:core
    pretty_print: true
  become: true
  notify:
    - restart amq_broker with no config refresh
