---
- name: Copy tls truststore to destination
  ansible.builtin.copy:
    src: "{{ activemq_tls_truststore_path }}"
    dest: "{{ activemq_tls_truststore_dest }}"
    owner: "{{ activemq_service_user }}"
    group: "{{ activemq_service_group }}"
    mode: '0400'
  when:
    - activemq_tls_truststore_path is defined
    - activemq_tls_enabled
  become: true

- name: Copy tls keystore to destination
  ansible.builtin.copy:
    src: "{{ activemq_tls_keystore_path }}"
    dest: "{{ activemq_tls_keystore_dest }}"
    owner: "{{ activemq_service_user }}"
    group: "{{ activemq_service_group }}"
    mode: '0400'
  when:
    - activemq_tls_keystore_path is defined
    - activemq_tls_enabled
  become: true
