---
- name: Set network check configuration
  middleware_automation.common.xml:
    path: "{{ activemq.instance_home }}/etc/broker.xml"
    xpath: "/conf:configuration/core:core/core:network-check-{{ item | replace('_','-') }}"
    value: "{{ lookup('ansible.builtin.vars', 'activemq_network_check_' + item) | to_json | replace('\"','') }}"
    namespaces:
      conf: urn:activemq
      core: urn:activemq:core
    pretty_print: true
  become: true
  notify:
    - restart amq_broker
  loop: "{{ valid_nc_configuration_list }}"
  loop_control:
    label: "network-check-{{ item }}"
