# {{ ansible_managed }}
{% if amq_broker_jmx_exporter_enabled  %}
JAVA_ARGS='{{ amq_broker_java_opts }} -javaagent:/usr/share/java/prometheus-jmx-exporter/jmx_prometheus_javaagent.jar=0.0.0.0:{{ amq_broker_jmx_exporter_port }}:{{ amq_broker_jmx_exporter_config_path }}'
{% else %}
JAVA_ARGS='{{ amq_broker_java_opts }}'
{% endif %}
JAVA_HOME={{ amq_broker_java_home  | default(amq_broker_rpm_java_home, true) }}
