# {{ ansible_managed }}
[Unit]
Description={{ amq_broker.instance_name }} {{ amq_broker.name }} Service
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/{{ amq_broker.instance_name }}
PIDFile={{ amq_broker.instance_home }}/{{ amq_broker_service_pidfile }}
ExecStart={{ amq_broker.instance_home }}/bin/artemis-service start
ExecStop={{ amq_broker.instance_home }}/bin/artemis-service stop

[Install]
WantedBy=multi-user.target
