         <acceptor name="{{ acceptor.name }}">{% if acceptor.scheme | d('tcp') == 'vm' %}vm://0{% else %}{{ acceptor.scheme | d('tcp') }}://{{ acceptor.bind_address }}:{{ acceptor.bind_port }}{% endif %}?{% for param in lookup('ansible.builtin.dict', acceptor.parameters | d({}), wantlist=true) %}{{ param.key }}={{ param.value }};{% endfor %}</acceptor>
