         <address name="{{ address.name }}">
{% if address['anycast'] is defined %}         
            <anycast>
{% for queue in address['anycast'] %}
               <queue name="{{ queue.name }}" 
                      max-consumers="{{ queue['max_consumers'] | default('-1') }}" 
                      exclusive="{{ queue['exclusive'] | default('false') | lower }}" 
                      consumers-before-dispatch="{{ queue['consumers_before_dispatch'] | default('0') }}"
                      delay-before-dispatch="{{ queue['delay_before_dispatch'] | default('-1') }}">
{% if queue['filter'] is defined %}<filter string="{{ queue['filter'] }}"/>{% endif %}
                   <durable>{{ queue['durable'] | default('true') | lower }}</durable>
               </queue>
{% endfor %}               
            </anycast>
{% endif %}
{% if address['multicast'] is defined %}         
            <multicast>
{% for queue in address['multicast'] %}
               <queue name="{{ queue.name }}" 
                      max-consumers="{{ queue['max_consumers'] | default('-1') }}" 
                      exclusive="{{ queue['exclusive'] | default('false') | lower }}" 
                      consumers-before-dispatch="{{ queue['consumers_before_dispatch'] | default('0') }}"
                      delay-before-dispatch="{{ queue['delay_before_dispatch'] | default('-1') }}">
{% if queue['filter'] is defined %}<filter string="{{ queue['filter'] }}"/>{% endif %}
                   <durable>{{ queue['durable'] | default('true') | lower }}</durable>
               </queue>
{% endfor %}               
            </multicast>
{% endif %}     
         </address>
