         <address-setting match="{{ address_setting.match }}">
            <dead-letter-address>{{ address_setting.dead_letter_address }}</dead-letter-address>
            <expiry-address>{{ address_setting.expiry_address }}</expiry-address>
            <redelivery-delay>{{ address_setting.redelivery_delay }}</redelivery-delay>
            <max-size-bytes>{{ address_setting.max_size_bytes }}</max-size-bytes>
            <message-counter-history-day-limit>{{ address_setting.message_counter_history_day_limit }}</message-counter-history-day-limit>
            <address-full-policy>{{ address_setting.address_full_policy }}</address-full-policy>
            <auto-create-queues>{{ address_setting.auto_create_queues }}</auto-create-queues>
            <auto-create-addresses>{{ address_setting.auto_create_addresses }}</auto-create-addresses>
            <auto-create-jms-queues>{{ address_setting.auto_create_jms_queues }}</auto-create-jms-queues>
            <auto-create-jms-topics>{{ address_setting.auto_create_jms_topics }}</auto-create-jms-topics>
            <auto-delete-queues>{{ address_setting.auto_delete_queues }}</auto-delete-queues>
            <auto-delete-addresses>{{ address_setting.auto_delete_addresses }}</auto-delete-addresses>
         </address-setting>
