         <address-setting match="{{ address_setting.match }}">
{% for param in lookup('ansible.builtin.dict', address_setting.parameters, wantlist=True) %}
            <{{ param.key | replace('_','-') }}>{{ param.value | lower }}</{{ param.key | replace('_','-') }}>
{% endfor %}
         </address-setting>
