        <amqp-connection uri="{{ broker_connection.uri }}" name="{{ broker_connection.name }}">
{% for operation in broker_connection.operation, wantlist=True) %}
            <{{ operation.type }} {% for param in lookup('ansible.builtin.dict', broker_connection.parameters, wantlist=True) %}{{ param.key | replace('_','-') }}="{{ param.value }}" {% endfor %}/>
{% endfor %}
        </amqp-connection>