         <cluster-connection name="CL{{ activemq_instance_name }}">
{% if activemq_cluster_discovery == 'static' %}
            <connector-ref>{% for param in activemq_connectors %}{% if param.address == 'localhost' %}{{ param.name }}{% endif %}{% endfor %}</connector-ref>
{% elif activemq_cluster_discovery == 'provided' %}
{% for param in merged_connectors %}
{% if param.name in connector_names %}
            <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endfor %}
{% endif %}
            <message-load-balancing>{{ activemq_cluster_lb_policy }}</message-load-balancing>
            <max-hops>{{ activemq_cluster_maxhops }}</max-hops>
            <static-connectors>
{% for param in merged_connectors %}
{% if param.address != 'localhost' and not param.name in connector_names %}
               <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endfor %}
            </static-connectors>
         </cluster-connection>
