         <cluster-connection name="CL{{ activemq_instance_name }}">
{% if activemq_cluster_discovery == 'static' or activemq_cluster_discovery == 'provided' %}
{% for param in merged_connectors %}
{% if param.name in acceptor_names %}
{% set default_connector = true %}
            <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endfor %}
{% if not default_connector | default(false) and activemq_cluster_discovery == 'static' %}
{% set param = merged_connectors | first %}
            <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endif %}
            <message-load-balancing>{{ activemq_cluster_lb_policy }}</message-load-balancing>
            <max-hops>{{ activemq_cluster_maxhops }}</max-hops>
            <static-connectors>
{% for param in merged_connectors %}
{% if param.address != 'localhost' and not param.name in acceptor_names %}
               <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endfor %}
            </static-connectors>
         </cluster-connection>
