         <connector name="{{ connector.name }}">{% if connector.scheme | d('tcp') == 'vm' %}vm://0{% else %}{{ connector.scheme | d('tcp') }}://{{ connector.address }}:{{ connector.port }}{% endif %}?{% for param in lookup('ansible.builtin.dict', connector.parameters | default({}), wantlist=true) %}{{ param.key }}={{ param.value }};{% endfor %}</connector>
