         <connector name="{{ connector.name }}">tcp://{{ connector.address }}:{{ connector.port }}?{% for param in lookup('ansible.builtin.dict', connector.parameters) %}{{ param.key }}={{ param.value }};{% endfor %}</connector>
