{% if activemq_ha_enabled and not activemq_replication and not activemq_shared_storage %}
        <live-only>
            <scale-down>
{% for param in activemq_connectors %}
{% if param.name != 'artemis' %}
            <connector-ref>{{ param.name }}</connector-ref>
{% endif %}
{% endfor %}
            </scale-down>
        </live-only>
{% endif %}
{% if activemq_ha_enabled and activemq_shared_storage %}
        <shared-store>
{% if activemq_ha_role == 'slave' or activemq_ha_role == 'backup' %}
          <{{ activemq_ha_role }}>
            <allow-failback>true</allow-failback>
          </{{ activemq_ha_role }}>
{% else %}
          <master>
            <failover-on-shutdown>true</failover-on-shutdown>
          </master>
{% endif %}
        </shared-store>
{% endif %}
{% if activemq_ha_enabled and activemq_replication %}
        <replication>
{% if activemq_ha_role == 'slave' or activemq_ha_role == 'backup' or amq_broker_replicated %}
          <{{ activemq_ha_role }}>
            <allow-failback>true</allow-failback>
          </{{ activemq_ha_role }}>
{% else %}
          <master>
            <check-for-live-server>true</check-for-live-server>
          </master>
{% endif %}
        </replication>
{% endif %}
