/* {{ ansible_managed }}
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

activemq {
{% if activemq_auth_properties_enabled %}
    org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule {{ 'sufficient' if activemq_auth_ldap_enabled else 'required' }}
       debug=false
       reload=true
       org.apache.activemq.jaas.properties.user="artemis-users.properties"
       org.apache.activemq.jaas.properties.role="artemis-roles.properties"
{% if activemq_password_codec != 'org.apache.activemq.artemis.utils.DefaultSensitiveStringCodec' %}
       org.apache.activemq.jaas.properties.password.codec="{{ activemq_password_codec }}"
{% endif %}
    ;
{% endif %}

{% if activemq_auth_ldap_enabled %}
    org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
        debug=false
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="{{ activemq_auth_ldap_url }}"
        connectionUsername="{{ activemq_auth_ldap_conn_username }}"
        connectionPassword={{ activemq_auth_ldap_conn_password }}
        connectionProtocol={{ activemq_auth_ldap_conn_protocol }}
{% if activemq_password_codec != 'org.apache.activemq.artemis.utils.DefaultSensitiveStringCodec' %}
        passwordCodec="{{ activemq_password_codec }}"
{% endif %}
        authentication={{ activemq_auth_ldap_auth }}
        userBase="{{ activemq_auth_ldap_user_base }}"
        userSearchMatching="{{ activemq_auth_ldap_user_search }}"
        userSearchSubtree={{ activemq_auth_ldap_user_search_subtree }}
        roleBase="{{ activemq_auth_ldap_role_base }}"
        roleName={{ activemq_auth_ldap_role_name}}
        roleSearchMatching="{{ activemq_auth_ldap_role_search }}"
        roleSearchSubtree={{ activemq_auth_ldap_role_search_subtree }}
        reload=true
    ;
{% endif %}
};
