<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- {{ ansible_managed }} -->
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements. See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License. You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<management-context xmlns="http://activemq.org/schema">
   <!--<connector connector-port="1099"/>-->
   <authorisation>
      <whitelist>
         <entry domain="hawtio"/>
      </whitelist>
      <default-access>
         <access method="list*" roles="{{ activemq_hawtio_role }}"/>
         <access method="get*" roles="{{ activemq_hawtio_role }}"/>
         <access method="is*" roles="{{ activemq_hawtio_role }}"/>
         <access method="set*" roles="{{ activemq_hawtio_role }}"/>
         <access method="*" roles="{{ activemq_hawtio_role }}"/>
      </default-access>
      <role-access>
         <match domain="org.apache.activemq.artemis">
            <access method="list*" roles="{{ activemq_hawtio_role }}"/>
            <access method="get*" roles="{{ activemq_hawtio_role }}"/>
            <access method="is*" roles="{{ activemq_hawtio_role }}"/>
            <access method="set*" roles="{{ activemq_hawtio_role }}"/>
            <access method="browse*" roles="{{ activemq_hawtio_role }}"/>
            <access method="count*" roles="{{ activemq_hawtio_role }}"/>
            <access method="*" roles="{{ activemq_hawtio_role }}"/>
         </match>
         <match domain="java.lang">
            <access method="list*" roles="{{ activemq_hawtio_role }}"/>
            <access method="get*" roles="{{ activemq_hawtio_role }}"/>
            <access method="is*" roles="{{ activemq_hawtio_role }}"/>
            <access method="set*" roles="{{ activemq_hawtio_role }}"/>
            <access method="*" roles="{{ activemq_hawtio_role }}"/>
         </match>
      </role-access>
   </authorisation>
</management-context>
