{% set accesses = [] %}
{% set match = { 'match': {} } %}
{% if 'key' in access_domains %}
  {% set firstLevel = dict(domain=access_domains.name | default('org.apache.activemq.artemis'), key=access_domains.key, _=[]) %}
{% else %}
  {% set firstLevel = dict(domain=access_domains.name | default('org.apache.activemq.artemis'), _=[]) %}
{% endif %}
{% set _ = match.update( {'match': firstLevel } ) %}
{% for access in access_domains.accesses %}
  {% for method in access.methods %}
    {% set rolesInput=access.roles | union(activemq_hawtio_role) | unique | sort | join(',') %}
    {% set accessElem = { 'method': method, 'roles': rolesInput } %}
    {% set _ = match['match']['_'].append( { 'access': accessElem } ) %}
  {% endfor %}
{% endfor %}

{% set _ = accesses.append( match ) %}
{{ accesses }}
