    <security-setting match="{{ item.match }}">
{% for permission, roles in item.permissions.items()  %}
        <permission type="{{ permission }}" roles="{{ roles | join(',') }}"/>
{% endfor %}
    </security-setting>
