---
name: CI
on:
  push:
    branches:
      - test1
  pull_request:
  workflow_dispatch:
    inputs:
      debug_verbosity:
        description: 'ANSIBLE_VERBOSITY envvar value'
        required: false
  schedule:
    - cron: '0 6 * * *'

jobs:
  ci:
    uses: ansible-middleware/github-actions/.github/workflows/cish.yml@main
    secrets: inherit
    with:
      fqcn: 'middleware_automation/amq'
      debug_verbosity: "${{ github.event.inputs.debug_verbosity }}"
      podman_tests_current: >-
        [ "default", "amq_upgrade", "static_cluster", "replication", "live_only", "mirroring", "custom_xml", "federation", "mask_passwords", "uninstall", "console_access" ]
      podman_tests_next: >-
        [ "default", "amq_upgrade", "static_cluster", "replication", "live_only", "mirroring", "custom_xml", "federation", "mask_passwords", "uninstall", "console_access" ]